body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Full height for the Grid container */
.full-height {
  height: 100vh;
}

/* Default Paper styling for all sections */
.paper-default {
  padding: 20px; /* Increased padding for better spacing */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Soft shadow */
}


/* Account Info, Select Stock, Transaction History common styling */
.section-paper {
  height: 20%;
  padding: 10px;
  margin-top: 10px;
}

/* Larger Paper, e.g., Stock Chart section */
.large-paper {
  height: 100%;
  padding: 10px;
}

/* Button margin (only for the Buy button) */
.button-margin {
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

/* Hover effects for the buttons */
.button-hover-success:hover {
  background-color: #00e676;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-hover-error:hover {
  background-color: #ff5252;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Common Table styling */
.table-container {
  height: 30%;
  padding: 10px;
  margin-top: 10px;
}

/* Transaction History table row hover effect */
.transaction-table-row:hover {
  background-color: rgba(238, 11, 11, 0.1);
}

/* Chart container improvements */
.chart-container {
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(41, 40, 40);
}

.buy-sell-container {
  height: 30%;
  padding: 10px;
}

.MuiTypography-h6 {
  font-size: 1.25rem; /* Change the font size */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold; /* Make the text bold */
  text-align: center;
  color: #1d1d1d; /* Change the text color */
  text-transform: uppercase; /* Transform text to uppercase */
  margin-bottom: 10px; /* Add some space below the heading */

  background-color: lightgray; /* Add light gray background */
  border-radius: 8px; /* Add rounded corners to the background */
  padding: 10px; /* Add padding to ensure the text doesn't touch the edges */
}

.account-info-row {
  display: flex;
  justify-content: space-between; /* Aligns the label and value on the row */
  padding-left: 10px; /* Optional padding for the left */
}

.account-info-label {
  font-weight: bold;
  margin-right: 10px; /* Adds a bit of space between the label and value */
}

.account-info-value {
  text-align: right; /* Align the value to the right */
}
